@using PageTurners.Core.Entities

@model ForumTopic

<h2>Створити нову тему</h2>

<form asp-action="CreateTopic">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title"></span>
    </div>
    <!-- Додати інші поля для нової теми -->

    <button type="submit">Створити</button>
</form>
