@model PageTurners.Core.Entities.Book

@{
    ViewData["Title"] = "Редагувати книгу";
}

<h1>Редагувати книгу</h1>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Title">Назва:</label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Author">Автор:</label>
        <input asp-for="Author" class="form-control" />
    </div>
    <!-- Додайте інші поля для жанру, опису, дати публікації, видавництва, тощо -->

    <button type="submit" class="btn btn-primary">Зберегти зміни</button>
</form>
