@using PageTurners.Core.Entities
@model IEnumerable<Book>

<h1>Результати пошуку</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Назва</th>
                <th>Автор</th>
                <th>Опис</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Desc</td>
                    <td>  <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn-custom-details">Деталі</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-controller="Book" asp-action="Index" class="btn-custom">Повернутись до всіх книг</a>
}
else
{
    <p>Книги за вашим запитом не знайдено.</p>
    <a asp-controller="Book" asp-action="Index" class="btn-custom">Повернутись до всіх книг</a>
}
<style>

    body {
        background-image: url('/images/back.jpg');
        background-size: cover; /* Масштабування зображення, щоб воно покривало всю сторінку */
        background-repeat: no-repeat; /* Вимкнення повторення зображення */
        background-attachment: fixed; /* Фон залишається фіксованим під час прокручування сторінки */
    }

    /* Основний стиль кнопок */
    .btn-custom {
        background-color: #FFA500; /* Оранжевий колір */
        color: #fff; /* Колір тексту */
        border: none;
        box-shadow: 2px 2px 4px #888888; /* Тінь */
        padding: 10px 20px; /* Відступи */
        transition: background-color 0.3s, transform 0.2s; /* Плавне зміна кольору та інтерактив на наведенні */
        display: inline-flex; /* Використовуємо Flexbox для розтягування */
        align-items: center; /* Вирівнюємо по вертикалі */
    }

        /* Стиль кнопок при наведенні */
        .btn-custom:hover {
            background-color: #FF6600; /* Змінений колір при наведенні */
            transform: scale(1.05); /* Збільшує розмір кнопки на наведенні */
        }

    /* CSS для зменшення розміру зображення */
    img {
        max-width: 100%; /* Максимальна ширина зображення буде 100% від контейнера */
        height: auto; /* Автоматична висота, щоб зберегти пропорції */
        max-height: 100px; /* Максимальна висота зображення */
    }


    .btn-custom-details {
        background-color: #ebc334;
        color: #fff;
        border: none;
        box-shadow: 2px 2px 4px #000000;
        padding: 10px 20px;
        transition: background-color 0.3s, transform 0.2s; /* Плавне зміна кольору та інтерактив на наведенні */
        display: inline-flex;
        align-items: center;
    }


        .btn-custom-details:hover {
            background-color: #c99e00;
            transform: scale(1.05);
        }

</style>