@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4"><b>Ласкаво просимо на наш сайт</b></h1>
            <p>На цьому сайті ви можете знайти велику кількість захоплюючих книг та відгуків до них.</p>
            <hr />
            <h2><b>Новини зі світу книги</b></h2>
            <div class="news-block">
                <div class="news-item">
                    <img src="/images/books3.jpg" alt="Новина 1" class="img-fluid" />
                    <h3><b>Нова книга від відомого автора</b></h3>
                    <p>Очікується виход нового роману від відомого автора. Захоплююча історія, яка точно зачарує читачів.</p>
                </div>
                <div class="news-item">
                    <img src="/images/books2.jpg" alt="Новина 2" class="img-fluid" />
                    <h3><b>Кращі книги цього місяця</b></h3>
                    <p>Дізнайтеся про найкращі книги, які варто прочитати цього місяця. Це істинні шедеври літератури.</p>
                </div>
            </div>
        </div>
         <div class="col-md-4">
              <img src="/images/books.jpg" alt="Книги" class="img-fluid" />
            <p>Цей сайт розроблено для книгоманів з метою поділитися своїми вподобаннями. Тут ви можете оцінювати книги, що є на сайті, 
                додавати коментар, додавати книги, яких ще тут немає, ділитися своїми враженнями на форумі. Крім того, якщо ви книгоман,
                який не знає що сьогодні почитати - цей сайт допоможе Вам знайти книгу для душі.</p>
          </div>
    </div>
</div>

<style>
    body {
        background-image: url('/images/back2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .news-block {
        display: flex;
        justify-content: space-between;
    }

    .news-item {
        width: 48%;
        border: 1px solid #ccc;
        padding: 15px;
        margin: 10px 0;
    }

        .news-item img {
            max-width: 100%;
            height: auto;
        }
</style>
