@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4"><b>Ласкаво просимо!</b></h1>
            
            <hr />
            <h2><b>Новини зі світу книги</b></h2>
            <div class="news-block">
                <div class="news-item">
                    <img src="/images/books3.jpg" alt="Новина 1" class="img-fluid" />
                    <h3><b>Нова книга від відомого автора</b></h3>
                    <p class="text-justify">Очікується виход нового роману від відомого автора. Захоплююча історія, яка точно зачарує читачів.</p>
                    <a href="@Url.Action("News1", "News")" class="btn-custom">Читати</a>
                </div>
                <div class="news-item">
                    <img src="/images/books2.jpg" alt="Новина 2" class="img-fluid" />
                    <h3><b>Кращі книги цього місяця</b></h3>
                    <p class="text-justify">Дізнайтеся про найкращі книги, які варто прочитати цього місяця. Це істинні шедеври літератури.</p>
                    <a href="@Url.Action("News2", "News")" class="btn-custom">Читати</a>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <img src="/images/book.jpg" alt="Книги" class="img-fluid" />
            <h4><b>Від авторів</b></h4>
            <p class="text-justify">
                Цей сайт розроблено для книгоманів з метою поділитися своїми вподобаннями. Тут ви можете оцінювати книги, що є на сайті,
                додавати коментар, додавати книги, яких ще тут немає, ділитися своїми враженнями на форумі. Крім того, якщо ви книгоман,
                який не знає що сьогодні почитати - цей сайт допоможе Вам знайти книгу для душі.

                Команда розробників-студентів щиро надіється, що цей сайт пригодиться вам. Можливо зараз він виглядає не ідеально, проте
                щоразу ми будемо старатись і докладати зусиль, аби додати сюди все більше функціоналу.
            </p>
        </div>
    </div>
</div>

<style>
    body {
        background-image: url('/images/back2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .news-block {
        display: flex;
        justify-content: space-between;
    }

    .news-item {
        width: 48%;
        border: 1px solid #ccc;
        padding: 15px;
        margin: 10px 0;
    }

        .news-item img {
            max-width: 100%;
            height: auto;
        }

    /* Основний стиль кнопок */
    .btn-custom {
        background-color: #FFA500; /* Оранжевий колір */
        color: #fff; /* Колір тексту */
        border: none;
        box-shadow: 2px 2px 4px #888888; /* Тінь */
        padding: 10px 20px; /* Відступи */
        transition: background-color 0.3s, transform 0.2s; /* Плавне зміна кольору та інтерактив на наведенні */
        display: inline-flex; /* Використовуємо Flexbox для розтягування */
        align-items: center; /* Вирівнюємо по вертикалі */
    }

        /* Стиль кнопок при наведенні */
        .btn-custom:hover {
            background-color: #FF6600; /* Змінений колір при наведенні */
            transform: scale(1.05); /* Збільшує розмір кнопки на наведенні */
        }
</style>
