@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо на наш сайт</h1>
    <p>На цьому сайті ви можете знайти велику кількість захоплюючих книг та відгуків до них.</p>

    <img src="/images/books.jpg" alt="Книги" style="max-width: 100%; height: auto;" />
</div>
